In [2]:
# Get all the players from Sleeper and store the pertinent information in a SQLite database
import requests
import sqlite3
import json
from sleeper import get_all_players, get_users_in_league, get_all_rosters, get_matchups
from manage import clean_player_data
from config import LEAGUE_LIST
import pandas as pd
SLEEPER_API = "https://api.sleeper.app/v1/players/nfl"

%load_ext autoreload
%autoreload 2

# Gather all the players from Sleeper
This should only need to be done once, but it's a good idea to check for new players every now and then. This notebook will gather all the players from Sleeper and put them in the database.

In [2]:
# Get all the players from Sleeper
players_json = get_all_players()
players_df = clean_player_data(players_json)

# Create a connection to the database
conn = sqlite3.connect('../data/league_db.db')
# Insert the data into the database
players_df.to_sql('players', conn, if_exists='replace', index=True)
conn.commit()
conn.close()

# Insert the league id with the league name into the db
This is a manual process of keeping this up to date

In [3]:
# Create a connection to the database
conn = sqlite3.connect('../data/league_db.db')
# Remove the coaches table if it exists already
conn.execute("DROP TABLE IF EXISTS league")

# Convert to a DataFrame
df = pd.DataFrame(list(LEAGUE_LIST.items()), columns=['name', 'league_id'])
df.to_sql('league', conn, if_exists='append', index=False)

8

# Insert the coaches into the database

In [4]:
# Create a connection to the database
conn = sqlite3.connect('../data/league_db.db')
# Remove the coaches table if it exists already
conn.execute("DROP TABLE IF EXISTS coaches")
# Get all the coaches in each of the leagues
for league in LEAGUE_LIST:
    coaches_df = get_users_in_league(LEAGUE_LIST[league])
    coaches_df.to_sql('coaches', conn, if_exists='append', index=False)

# Update the team names if they aren't already set by combining the display name and Team like "Team" + Display Name from the row
conn.execute("UPDATE coaches SET team_name = 'Team ' + display_name WHERE team_name IS NULL")

# Close the connection
conn.close()

# Now get the drafts from every league and put these in the database
We need to have the rosters so that we can deal with matchups each week.  Each match up has a roster_id associated with it, so we need to map owners to rosters to determine the win-loss of each owner.

In [80]:
# Get the drafts for each league
# Create a connection to the database
conn = sqlite3.connect('../data/league_db.db')
# Insert the data into the database
conn.execute("DROP TABLE IF EXISTS rosters")

for league in LEAGUE_LIST:
    rosters = get_all_rosters(LEAGUE_LIST[league])
        
    # Expand the players columns into individual rows keeping just the player_id, the owner_id, and league_id
    rosters_df = rosters.explode('players')[['roster_id','players','owner_id','league_id']].rename(columns={'players':'player_id'})
    
    # Move the roster_id to a new column
    # rosters_df['roster_id'] = rosters_df.index
    
    # Create a new roster index made up of the league_id and the roster_id
    rosters_df.index = rosters_df['league_id'].astype(str) + "_" + rosters_df['roster_id'].astype(str)    
        
    rosters_df.to_sql('rosters', conn, if_exists='append', index=False)
# Close the connection
conn.close()

# Load Bye Weeks into the Database

In [6]:
# Load bye weeks into the SQLite database
conn = sqlite3.connect('../data/league_db.db')
conn.execute("DROP TABLE IF EXISTS team")
# Open the file with the bye weeks
with open('../data/nfl_bye_weeks_2024.csv', 'r') as file:
    # Read the data into a dataframe
    bye_weeks = pd.read_csv(file)
    # Insert the data into the database
    bye_weeks.to_sql('team', conn, if_exists='replace', index=False)
conn.close()

erDiagram
    PLAYERS {
        int player_id PK
        int rotoworld_id
        float weight
        string practice_description
        date birth_date
        string team_abbr
        int fantasy_data_id
        bool active
        int opta_id
        int age
        int espn_id
        string first_name
        string hashtag
        int depth_chart_order
        string status
        int pandascore_id
        int stats_id
        int swish_id
        string search_first_name
        string search_last_name
        int oddsjam_id
        string college
        string last_name
        string team
        string full_name
        string search_full_name
        float height
        string fantasy_positions
        string practice_participation
        string position
        int years_exp
        int number
        string gsis_id
        string depth_chart_position
        int search_rank
        string sport
    }

    LEAGUE {
        int league_id PK
        string name
    }

    COACHES {
        int user_id PK
        string display_name
        bool is_owner
        int league_id FK
        string team_name
        date team_name_update
        bool allow_sms
    }

    ROSTERS {
        int roster_id PK
        int player_id FK
        int owner_id FK
        int league_id FK
    }

    TEAM {
        string Team PK
        int Bye_Week
    }

    OWNER
    
    PLAYERS ||--o{ ROSTERS : "is part of"
    COACHES ||--o{ ROSTERS : "owns"
    LEAGUE ||--o{ ROSTERS : "includes"
    LEAGUE ||--o{ COACHES : "has"
    TEAM ||--o{ PLAYERS : "belongs to"

# Load weekly matchups into the database
Here we are going to load the weekly matchups into the database.  This will allow us to determine the win-loss record of each owner.

**NOTE:** Change the week before entering the data into the database

In [93]:
def update_weekly_matchups(week = 1, drop_table = False):
    conn = sqlite3.connect('../data/league_db.db')
    if drop_table:
        conn.execute("DROP TABLE IF EXISTS matchups")
    
    def update_matchups(league_id, week):
        df_matchup = get_matchups(league_id, week)
        df_matchup[['league_id','week']] = league_id, week
        df_matchup = df_matchup[['league_id','week','points','roster_id','matchup_id']]
        #print(df_matchup)
        df_matchup.to_sql('matchups', conn, if_exists='append', index=False)
        
    # For each league
    for league in LEAGUE_LIST:
        league_id = LEAGUE_LIST[league]
        if drop_table:
            for w in range(1, week + 1):
                update_matchups(league_id, w)
        else:
            update_matchups(league_id, week)
        
    conn.close()

# Utility Functions
So here we will define some utility functions that we will use throughout the notebook.  These are useful once all the tables are loaded up.

In [88]:
# Run a sqlite query
def run_query(q, cols=None):
    conn = sqlite3.connect('../data/league_db.db')
    rows = conn.execute(q).fetchall()
    if cols is None:
        cols = [desc[0] for desc in conn.execute(q).description]
    df = pd.DataFrame(rows, columns=cols)
    return df

def get_column_names(table_name):
    # Connect to the SQLite3 database
    conn = sqlite3.connect('../data/league_db.db')
    cursor = conn.cursor()
    
    # Execute PRAGMA table_info to get the column information
    cursor.execute(f"PRAGMA table_info({table_name})")
    
    # Fetch all results
    columns_info = cursor.fetchall()
    
    # Extract column names
    column_names = [info[1] for info in columns_info]
    
    # Close the connection
    conn.close()
    
    return column_names

def table_names():
    # Get the list of tables in teh sqlite database
    conn = sqlite3.connect('../data/league_db.db')
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    conn.close()
    return tables


for table in table_names():
    print(f'{table[0]}: {get_column_names(table[0])}')
    
#run_query('Select p.full_name, r.league_id, p.player_id '
                    #'FROM players p join rosters r on r.player_id = p.player_id WHERE full_name like "%Davante Adams%"')

players: ['player_id', 'stats_id', 'oddsjam_id', 'search_rank', 'team_abbr', 'search_full_name', 'gsis_id', 'first_name', 'age', 'search_first_name', 'team', 'active', 'last_name', 'rotoworld_id', 'search_last_name', 'espn_id', 'weight', 'college', 'opta_id', 'full_name', 'status', 'swish_id', 'yahoo_id', 'fantasy_positions', 'rotowire_id', 'number', 'fantasy_data_id', 'hashtag', 'years_exp', 'pandascore_id', 'height', 'practice_description', 'birth_date', 'sportradar_id', 'position', 'practice_participation', 'sport', 'depth_chart_position', 'depth_chart_order']
league: ['name', 'league_id']
coaches: ['display_name', 'is_owner', 'league_id', 'user_id', 'team_name', 'team_name_update', 'allow_sms']
rosters: ['roster_id', 'player_id', 'owner_id', 'league_id']
matchups: ['league_id', 'week', 'points', 'roster_id', 'matchup_id']

# Create spreadsheet of rostered players

In [8]:
conn = sqlite3.connect('../data/league_db.db')
rows = conn.execute(f'Select p.full_name, p.espn_id,p.rotowire_id, p.sportradar_id,p.yahoo_id, p.college, p.years_exp, p.team, p.position, c.display_name, c.league_id, t."Bye Week"'
                    'FROM players p '
                    'JOIN rosters r on p.player_id = r.player_id '
                    'JOIN coaches c on r.owner_id = c.user_id and r.league_id = c.league_id '
                    'JOIN team t on p.team=t.team').fetchall()
# turn the rows into a dataframe
df = pd.DataFrame(rows, columns=['full_name','espn_id','rotowire_id', 'sportradar_id','yahoo_id','college', 'years_experience','team', 'position', 'coach','league_id','bye'])
conn.close()

# Create a reverse dictionary to map IDs to names
reverse_LEAGUE_LIST = {str(v): k for k, v in LEAGUE_LIST.items()}
# Ensure the league_id column is of type string
df['league_id'] = df['league_id'].astype(str)
df['espn_id']=df['espn_id'].fillna(-1).astype(int)
df['rotowire_id']=df['rotowire_id'].fillna(-1).astype(int)
df['yahoo_id']=df['yahoo_id'].fillna(-1).astype(int)

# Now replace the league name with the league id
df['league_name'] = df['league_id'].map(reverse_LEAGUE_LIST)
df.drop(columns=['league_id'], inplace=True)

# Output the data to a csv file
df.to_csv('../data/players_rostered.csv', index=False)
df

,full_name,espn_id,rotowire_id,sportradar_id,yahoo_id,college,years_experience,team,position,coach,bye,league_name
0,Jonathan Mingo,-1,16937,6cf0c82d-87e4-4cfc-8475-77667ed92796,-1,Ole Miss,1.0,CAR,WR,ChiJV,11,MainLeague
1,Rashee Rice,-1,16963,cbd73c09-da07-48b0-a0d6-f248dfa631b6,-1,SMU,1.0,KC,WR,ChiJV,6,MainLeague
2,Roschon Johnson,-1,16772,e3c414c0-be8c-4807-af9c-f91d89c83e60,-1,Texas,1.0,CHI,RB,ChiJV,7,MainLeague
3,Brenden Rice,-1,17756,5c33558d-02fb-4c99-88d3-37083472c19f,-1,USC,0.0,LAC,WR,ChiJV,5,MainLeague
4,Luke McCaffrey,-1,17820,5cfd82f8-9e73-48d7-914e-9051ff52d67d,-1,Rice,0.0,WAS,WR,ChiJV,14,MainLeague
...,...,...,...,...,...,...,...,...,...,...,...,...
2021,Kenneth Walker,-1,15909,22ee9bac-a64c-4d44-94fc-51d775465b3b,-1,Michigan State,2.0,SEA,RB,WestCoastNonsense,10,Quickdraft 2
2022,Brock Purdy,-1,15834,d5aef708-ad61-4ab8-a637-62ff96e92040,-1,Iowa State,2.0,SF,QB,WestCoastNonsense,9,Quickdraft 2
2023,Anthony Richardson,-1,16653,5fc5b4a6-a583-4345-a810-4f982204ea5e,-1,Florida,1.0,IND,QB,WestCoastNonsense,14,Quickdraft 2
2024,C.J. Stroud,-1,16886,7e91086f-9ca4-4bd9-a099-b88b2f37e6c6,-1,Ohio State,1.0,HOU,QB,WestCoastNonsense,14,Quickdraft 2
2025,Will Levis,-1,16665,4c8a2f7e-f982-4eca-9d52-cf53df6985a4,-1,Kentucky,1.0,TEN,QB,WestCoastNonsense,5,Quickdraft 2

# Create the weekly matchups csv
Once we have matchups updated in the database, then we can put together the weekly matchups csv.  This will be used to determine the win-loss record of each owner.  We also have to deal with the median in each league.  I'm not sure if we'll do this with sql or python yet.

In [97]:
update_weekly_matchups(1, drop_table=True)

              league_id  week  points  roster_id  matchup_id
0   1060410179696533504     1  148.72          1           3
1   1060410179696533504     1  137.98          2           2
2   1060410179696533504     1  158.26          3           6
3   1060410179696533504     1   79.00          4           4
4   1060410179696533504     1  113.16          5           1
5   1060410179696533504     1  130.30          6           5
6   1060410179696533504     1  115.78          7           3
7   1060410179696533504     1  105.04          8           1
8   1060410179696533504     1  121.58          9           6
9   1060410179696533504     1  114.26         10           4
10  1060410179696533504     1  147.99         11           2
11  1060410179696533504     1  135.52         12           5
              league_id  week  points  roster_id  matchup_id
0   1097749730030931968     1  161.64          1           2
1   1097749730030931968     1  160.86          2           3
2   1097749730030931968     1  156.82          3           4
3   1097749730030931968     1  132.04          4           1
4   1097749730030931968     1  169.38          5           1
5   1097749730030931968     1  156.04          6           5
6   1097749730030931968     1  168.70          7           6
7   1097749730030931968     1  151.84          8           6
8   1097749730030931968     1  150.64          9           3
9   1097749730030931968     1   83.94         10           5
10  1097749730030931968     1  154.68         11           4
11  1097749730030931968     1  146.18         12           2
              league_id  week  points  roster_id  matchup_id
0   1103796139196858368     1  172.64          1           6
1   1103796139196858368     1  117.74          2           5
2   1103796139196858368     1  146.86          3           4
3   1103796139196858368     1  103.16          4           1
4   1103796139196858368     1  137.78          5           2
5   1103796139196858368     1  106.54          6           3
6   1103796139196858368     1  163.52          7           6
7   1103796139196858368     1  161.34          8           2
8   1103796139196858368     1  174.50          9           1
9   1103796139196858368     1  164.86         10           5
10  1103796139196858368     1  185.12         11           3
11  1103796139196858368     1  147.46         12           4
              league_id  week  points  roster_id  matchup_id
0   1105340566650339328     1  142.48          1           4
1   1105340566650339328     1  154.42          2           3
2   1105340566650339328     1  119.86          3           4
3   1105340566650339328     1  132.64          4           6
4   1105340566650339328     1  114.18          5           1
5   1105340566650339328     1  134.04          6           1
6   1105340566650339328     1  144.92          7           2
7   1105340566650339328     1  170.20          8           3
8   1105340566650339328     1  153.68          9           5
9   1105340566650339328     1  148.16         10           2
10  1105340566650339328     1   98.76         11           6
11  1105340566650339328     1  162.16         12           5
              league_id  week  points  roster_id  matchup_id
0   1107529645848887296     1  137.38          1           5
1   1107529645848887296     1  129.28          2           6
2   1107529645848887296     1  155.08          3           1
3   1107529645848887296     1  155.62          4           3
4   1107529645848887296     1  119.20          5           5
5   1107529645848887296     1  152.46          6           4
6   1107529645848887296     1  171.84          7           6
7   1107529645848887296     1  145.04          8           4
8   1107529645848887296     1  162.02          9           2
9   1107529645848887296     1  179.18         10           2
10  1107529645848887296     1  127.98         11           1
11  1107529645848887296     1  168.74         12           3
              league_id  week  points  roster_id  matchup_id
0   1120608620015640576     1  144.98          1           1
1   1120608620015640576     1   97.94          2           3
2   1120608620015640576     1  122.88          3           3
3   1120608620015640576     1  168.02          4           6
4   1120608620015640576     1  131.18          5           1
5   1120608620015640576     1  154.48          6           4
6   1120608620015640576     1  117.74          7           2
7   1120608620015640576     1  167.16          8           5
8   1120608620015640576     1  183.00          9           6
9   1120608620015640576     1  164.44         10           4
10  1120608620015640576     1  197.76         11           5
11  1120608620015640576     1  148.70         12           2
             league_id  week  points  roster_id  matchup_id
0  1104619976205471744     1  145.18          1           2
1  1104619976205471744     1  105.02          2           4
2  1104619976205471744     1  154.06          3           1
3  1104619976205471744     1  133.42          4           3
4  1104619976205471744     1  159.58          5           1
5  1104619976205471744     1  168.12          6           3
6  1104619976205471744     1  146.30          7           2
7  1104619976205471744     1  139.92          8           4
             league_id  week  points  roster_id  matchup_id
0  1104635110046986240     1  157.74          1           2
1  1104635110046986240     1  143.16          2           3
2  1104635110046986240     1  168.82          3           4
3  1104635110046986240     1  149.06          4           4
4  1104635110046986240     1  169.52          5           1
5  1104635110046986240     1  181.78          6           3
6  1104635110046986240     1  173.34          7           1
7  1104635110046986240     1  202.52          8           2

In [92]:

df_outcomes = run_query('''WITH roster_coaches AS (
    SELECT 
        r.roster_id, 
        r.league_id,
        l.name as league_name,
        c.display_name as coach_name,
        c.user_id
    FROM 
        rosters r JOIN coaches c ON r.owner_id = c.user_id and r.league_id = c.league_id
        JOIN league l on r.league_id = l.league_id
    GROUP BY 
        r.roster_id, r.league_id, l.name, c.display_name, c.user_id -- Aggregate to one row per roster
)
SELECT r1.league_name, m1.week, r1.coach_name as 'Winner', r2.coach_name as 'Loser', m1.points, m2.points
    FROM matchups m1 
    JOIN matchups m2 on m1.matchup_id = m2.matchup_id and m1.week = m2.week and m1.league_id = m2.league_id and m1.roster_id != m2.roster_id
    JOIN roster_coaches r1 on m1.roster_id = r1.roster_id and m1.league_id = r1.league_id
    JOIN roster_coaches r2 on m2.roster_id = r2.roster_id and m2.league_id = r2.league_id
    WHERE m1.points > m2.points''', 
    cols=['League','Week','Winner','Loser','Winner Pts','Loser Pts'])

print(df_outcomes)

          League  Week             Winner              Loser  Winner Pts  \
0     MainLeague     1              ChiJV            tford51      148.72
1            BB1     1         ProfessorD              aledo      161.64
2            BB2     1         ProfessorD         koolaid403      172.64
3            BB3     1         ProfessorD          ConorDeLa      142.48
4            BB4     1         ProfessorD          ConorDeLa      137.38
5            BB5     1         ProfessorD  WestCoastNonsense      144.98
6            BB1     1          gpeisert1              ChiJV      160.86
7     MainLeague     1  WestCoastNonsense              aledo      158.26
8            BB1     1  WestCoastNonsense           plfinken      156.82
9   Quickdraft 2     1          ConorDeLa       theBandit216      168.82
10           BB4     1            tford51         Mschmoopie      155.08
11           BB5     1       theBandit216          ConorDeLa      122.88
12           BB3     1       theBandit216          gpeisert1      132.64
13    MainLeague     1         Mschmoopie         ProfessorD      113.16
14           BB1     1             jnappy       theBandit216      169.38
15  QuickDraft 1     1          Frank1983          ConorDeLa      159.58
16           BB1     1         Mschmoopie            tford51      156.04
17  QuickDraft 1     1              aledo  WestCoastNonsense      168.12
18  Quickdraft 2     1         koolaid403              aledo      181.78
19           BB3     1             jnappy  WestCoastNonsense      134.04
20           BB4     1              aledo  WestCoastNonsense      152.46
21           BB1     1         koolaid403          ConorDeLa      168.70
22  QuickDraft 1     1            tford51         ProfessorD      146.30
23  Quickdraft 2     1          Frank1983            tford51      173.34
24           BB4     1         koolaid403          gpeisert1      171.84
25           BB2     1         Mschmoopie          gpeisert1      161.34
26  QuickDraft 1     1       theBandit216         koolaid403      139.92
27  Quickdraft 2     1  WestCoastNonsense         ProfessorD      202.52
28           BB3     1         Mschmoopie            tford51      170.20
29           BB2     1       Deerslayer65  WestCoastNonsense      174.50
30           BB5     1            tford51             jnappy      183.00
31    MainLeague     1           plfinken          ConorDeLa      114.26
32           BB2     1            tford51             jnappy      164.86
33           BB3     1       Deerslayer65         koolaid403      148.16
34           BB4     1          JeffMyers       theBandit216      179.18
35           BB5     1         koolaid403          gpeisert1      164.44
36    MainLeague     1        CoryPeisert          gpeisert1      147.99
37           BB2     1              ChiJV          ConorDeLa      185.12
38           BB5     1           msbosway         Mschmoopie      197.76
39    MainLeague     1         koolaid403       theBandit216      135.52
40           BB2     1              aledo       theBandit216      147.46
41           BB3     1          JeffMyers              aledo      162.16
42           BB4     1           msbosway             jnappy      168.74
43           BB5     1            Fordo45              aledo      148.70

    Loser Pts
0      115.78
1      146.18
2      163.52
3      119.86
4      119.20
5      131.18
6      150.64
7      121.58
8      154.68
9      149.06
10     127.98
11      97.94
12      98.76
13     105.04
14     132.04
15     154.06
16      83.94
17     133.42
18     143.16
19     114.18
20     145.04
21     151.84
22     145.18
23     169.52
24     129.28
25     137.78
26     105.02
27     157.74
28     154.42
29     103.16
30     168.02
31      79.00
32     117.74
33     144.92
34     162.02
35     154.48
36     137.98
37     106.54
38     167.16
39     130.30
40     146.86
41     153.68
42     155.62
43     117.74

In [126]:
# Calculate the median for each league
df_median_points = run_query('''select league_id, week, points from matchups''').groupby(['league_id','week']).median().reset_index()

df_team_points = run_query('''WITH roster_coaches AS (
    SELECT 
        r.roster_id, 
        r.league_id,
        l.name as league_name,
        c.display_name as coach_name,
        c.user_id
    FROM 
        rosters r JOIN coaches c ON r.owner_id = c.user_id and r.league_id = c.league_id
        JOIN league l on r.league_id = l.league_id
    GROUP BY 
        r.roster_id, r.league_id, l.name, c.display_name, c.user_id -- Aggregate to one row per roster
)
SELECT r.league_id, r.league_name, m.week, m.roster_id, r.coach_name, m.points 
FROM matchups m 
    JOIN roster_coaches r on m.roster_id = r.roster_id and m.league_id = r.league_id''')

df_team_points['league_id'] = df_team_points['league_id'].astype(int)

df_combined = pd.merge(df_team_points, df_median_points, on=['league_id','week'], suffixes=('_team','_median'),how='inner')
df_combined['Winner']=df_combined.apply(lambda row: row['coach_name'] if row['points_team']> row['points_median'] else 'MEDIAN', axis=1)
df_combined['Loser']=df_combined.apply(lambda row: row['coach_name'] if row['points_team']<= row['points_median'] else 'MEDIAN', axis=1)
df_output= df_combined[['league_name','week','Winner','Loser']].rename(columns={'league_name':'League','week':'Week'})
pd.concat([df_outcomes,df_output], axis=0).to_csv('../data/league_outcomes.csv', index=False)

     league_name  week  roster_id         coach_name  points
0     MainLeague     1          1              ChiJV  148.72
1     MainLeague     1          2          gpeisert1  137.98
2     MainLeague     1          3  WestCoastNonsense  158.26
3     MainLeague     1          4          ConorDeLa   79.00
4     MainLeague     1          5         Mschmoopie  113.16
..           ...   ...        ...                ...     ...
83  Quickdraft 2     1          4       theBandit216  149.06
84  Quickdraft 2     1          5            tford51  169.52
85  Quickdraft 2     1          6         koolaid403  181.78
86  Quickdraft 2     1          7          Frank1983  173.34
87  Quickdraft 2     1          8  WestCoastNonsense  202.52

[88 rows x 5 columns]